@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var detail = ViewBag.ProductDetail;
    var customerID = ViewBag.customerID;
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<main>
    <div class="container p-2">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-product"
                     src="@(Url.Content("~/Uploads/products/" + detail.ProductImage))"
                     alt="@detail.ProductName"
                     width="100%" />
            </div>

            <div class="col-md-6">
                <p>#@detail.ProductId</p>
                <h3>@detail.ProductName</h3>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-white"></i>
                <p>(customer review)</p>
                <p class="sale_price font-weight-bold" style="font-size:25px;">
                    @if (detail.ProductSalePrice > 0)
                    {
                        @String.Format("{0:#,0} VND", detail.ProductSalePrice)
                        <del class="ml-2 font-weight-normal">
                            @String.Format("{0:#,0} VND", detail.ProductPrice)
                        </del>
                    }
                </p>
                <p class="sale_price font-weight-bold" style="font-size:25px;">
                    @if(detail.ProductSalePrice <= 0)
                    {
                        @String.Format("{0:#,0} VND", detail.ProductPrice)
                    }
                </p>
                <p>
                        @Html.Raw(detail.ProductDescription)
                    
                </p>
                <hr />
                <form class="form-block mt-3" asp-controller="Cart" asp-action="AddToCart" method="post">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="cart-quantity-size d-flex align-items-center my-3">
                                <div class="cart-quantiy-outer py-2">
                                    <input type="hidden" name="accId" value="@customerID" />
                                    <input type="hidden" name="prodId" value="@detail.ProductId" />
                                    <button class="btn_minus mr-1"
                                            onclick="handleMinus(event)">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <input type="number"
                                           min="0"
                                           max="99"
                                           name="quantity"
                                           value="1"
                                           id="quantity"
                                           class="cart-quantity" />
                                    <button class="btn_plus"
                                            onclick="handlePlus(event)">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("customerName") != null)
                            {
                                <button class="btn btn-success btn-block btn1">
                                    Thêm vào giỏ hàng
                                </button>
                            }else{
                                <a class="btn btn-warning text-white btn-block btn1" asp-area="" asp-controller="User" asp-action="Login">
                                    Vui lòng đăng nhập
                                </a>
                            }
                        </div>
                    </div>
                 </form>
                
          
                <div class="prod-des mt-3">
                    <p>
                        <span>
                            Danh mục: <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-slug="@detail.ProductCategory.CategorySlug">@detail.ProductCategory.CategoryName</a>
                        </span>
                        
                    </p>
                    <p>
                        <span>
                            Trạng thái: @(detail.ProductStatus == 1 ? "Còn hàng" : "Hết hàng")
                        </span>
                    </p>
                </div>

                <div class="prod-social d-flex">
                    <a href="https://www.facebook.com/"
                       target="_blank"
                       class="social-icons btn btn-primary btn-sm border-0">
                        <i class="fa-brands fa-facebook-f"></i> Facebook
                    </a>
                    <a href="https://twitter.com/home?lang=vi"
                       target="_blank"
                       class="social-icons btn btn-primary btn-sm border-0">
                        <i class="fa-brands fa-twitter"></i> Twitter
                    </a>
                    <a href="https://www.pinterest.com/"
                       target="_blank"
                       class="social-icons btn btn-primary btn-sm border-0">
                        <i class="fa-brands fa-pinterest"></i> Pinterest
                    </a>
                    <a href="https://www.google.com.vn/?hl=vi"
                       target="_blank"
                       class="social-icons btn btn-primary btn-sm border-0">
                        <i class="fa-brands fa-google-plus-g"></i> Google
                    </a>
                    <a href="https://www.linkedin.com/"
                       target="_blank"
                       class="social-icons btn btn-primary btn-sm border-0">
                        <i class="fa-brands fa-linkedin"></i> Linkedin
                    </a>
                </div>
            </div>
        </div>

        <div class="behavior">
            <h3 class="my-3">Description</h3>
            <div class="tab-pane fade show active"
                 id="home"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                @Html.Raw(detail.ProductDescription)
            </div>
        </div>

        <div class="container">
            <h2 class="text-center my-5">Sản phẩm liên quan</h2>
            <div class="card-category-4 row justify-content-center align-items-center owl-carousel owl-theme">
                @foreach (var item in ViewBag.ProductRelated)
                {
                    <div class="col-md-12 my-4 item">
                        <div class="sp-card-2">
                            <div class="overlap">
                                <a asp-area="" asp-controller="Shop" asp-action="Details" asp-route-slug="@item.Slug" style="cursor: pointer;" title="View Details">
                                    View Details
                                </a>
                            </div>
                            <div class="card-image">
                                <img src="@(Url.Content("~/Uploads/products/" + item.ProductImage))" alt="@item.ProductName" style="object-fit:contain;" />
                            </div>

                            <div class="card-content">
                                @{
                                    var proName = item.ProductName;
                                    var truncated = proName.Length > 25
                                    ? proName.Substring(0, 20) + "..."
                                    : proName;
                                }
                                <span class="card-title">@truncated</span>
                                @if (item.ProductSalePrice > 0)
                                {
                                    <div class="d-flex my-2">
                                        <p class="price-start">
                                            @String.Format("{0:#,0} VND", item.ProductSalePrice)
                                        </p>
                                        <p class="price-end"
                                           style="text-decoration: line-through;color: #ccc; font-size: 12px;margin-left: 2px;font-weight: 700;">
                                            @String.Format("{0:#,0} VND", item.ProductPrice)
                                        </p>
                                    </div>
                                }
                                @if (item.ProductSalePrice == 0)
                                {
                                    <div class="d-flex my-2">
                                        <span class="price-start">
                                            @String.Format("{0:#,0} VND", item.ProductPrice)
                                        </span>
                                    </div>
                                }
                                @* <button class="btn text-white" style="background: #79a206;">Mua ngay</button> *@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        var quantityDOM = document.getElementById("quantity");

        const handleMinus = (event) => {
            event.preventDefault();
            quantityDOM.value <= 1 ? 1 : quantityDOM.value--;
            console.log(quantityDOM.value);
        }

        const handlePlus = (event) => {
            event.preventDefault();
            quantityDOM.value >= 50 ? quantityDOM.value : quantityDOM.value++;
            console.log(quantityDOM.value);
        }
    </script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            dots: false,
            autoplayTimeout: 1500,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
}