@model X.PagedList.IPagedList<ShopApp.Data.Order>
@using X.PagedList.Mvc.Core;
@using ShopApp.Enums
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var names = ViewBag.names;
    var sorts = ViewBag.sorts;
    var i = 1;
}

<div id="content-page" class="content-page p-0" style="padding-top: 85px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Danh sách đơn hàng</h4>
                        </div>
                    </div>

                    <div class="iq-card-body">
                        <form method="GET">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-3 p-0">
                                    <input type="text" value="@names" name="name" class="form-control" placeholder="Tìm kiếm theo tên khách hàng..." />
                                </div>

                                <div class="col-3 p-0">
                                    <div class="d-flex">
                                        <select class="form-control rounded-0 " name="sort">
                                            <option value="">----- Sắp xếp -----</option>
                                            <option value="Id-ASC" selected="@(sorts == "Id-ASC")">Sắp xếp theo stt (a - z)</option>
                                            <option value="Id-DESC" selected="@(sorts == "Id-DESC")">Sắp xếp theo stt (z - a)</option>
                                            <option value="Name-ASC" selected="@(sorts == "Date-ASC")">Sắp xếp theo thời gian (a - z)</option>
                                            <option value="Name-DESC" selected="@(sorts == "Date-DESC")">Sắp xếp theo thời gian (z - a)</option>
                                        </select>
                                    </div>


                                </div>
                                <div class="col-3 text-right p-0 m-0">
                                    <button class="btn rounded-0 btn-primary">Tìm kiếm</button>
                                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn rounded-0 btn-danger text-white">Làm mới</a>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="data-tables table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="5%">STT</th>
                                        <th width="10%">Khách hàng</th>
                                        <th width="12%">Tổng sản phẩm</th>
                                        <th width="12%">Ngày đặt hàng</th>
                                        <th >Phương thức thanh toán</th>
                                        <th>Trạng thái thanh toán</th>
                                        <th>Ghi chú</th>
                                        <th style="width: 0 !important;">Trạng thái đơn hàng</th>
                                        <th width="12%">Thành tiền</th>
                                        <th width="10%">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.OrderFullName</td>
                                            <td>@item.OrderDetails?.Count sản phẩm</td>
                                            <td>@item.OrderDate.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                            <td>@item.OrderPaymentMethods</td>
                                            <td>@item.OrderStatusPayment</td>
                                            <td>@item.OrderNote</td>
                                            <td>
                                                @if (item.OrderStatus == 1)
                                                {
                                                    <span class="badge badge-success">@OrderStatus.CHOXACNHANTXT</span>
                                                }
                                                else if (item.OrderStatus == 2)
                                                {
                                                    <span class="badge badge-danger">@OrderStatus.XACNHANDONHANGTXT</span>

                                                }
                                                 else if (item.OrderStatus == 3)
                                                {
                                                    <span class="badge badge-danger">@OrderStatus.CHUANBIDONHANGTXT</span>

                                                }
                                                else if (item.OrderStatus == 4)
                                                {
                                                    <span class="badge badge-danger">@OrderStatus.DANGGIAOHANGTXT</span>

                                                }
                                                 else if (item.OrderStatus == 5)
                                                {
                                                    <span class="badge badge-danger">@OrderStatus.DAGIAOHANGTXT</span>

                                                }
                                                else if (item.OrderStatus == 6)
                                                {
                                                    <span class="badge badge-danger">@OrderStatus.HUYDONHANGTXT</span>

                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Không xác định</span>

                                                }
                                            </td>
                                            <td>@String.Format("{0:#,0} VND", item.OrderAmount)</td>
                                            <td>
                                                <div class="d-flex flex align-items-center list-user-action">
                                                    <a class="bg-info" title="Detail"
                                                       asp-action="Details" asp-route-id="@item.OrderId"><i class="ri-weibo-fill"></i></a>
                                                    <a class="bg-primary mt-1" data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="Sửa"
                                                       asp-action="Edit" asp-route-id="@item.OrderId">
                                                        <i class="ri-pencil-line"></i>
                                                    </a>
                                                    <form asp-action="Delete" asp-route-id="@item.OrderId" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa dữ liệu này ?')">
                                                        <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Xóa"
                                                                style="margin: 0; margin-top: 3px; padding: 1px 5px; text-align: center;
                                                                        max-width: 25px; max-height: 25px;">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </button>
                                                        @Html.AntiForgeryToken() <!-- Bảo vệ CSRF -->
                                                    </form>

                                                </div>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                                             new PagedListRenderOptions
                                    {
                                        LiElementClasses = new[] { "page-item" },
                                        PageClasses = new[] { "page-link" },
                                        UlElementClasses = new[] { "pagination" }
                                    })
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}