@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>EDON - @ViewData["Title"]</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="~/icon/favicon.ico" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    @* Site css  *@
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- owl carosel -->
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light px-4 py-2 d-flex align-items-center">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.jpg" alt="" />
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav m-auto mt-2 py-4 mt-lg-0 menu">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Shop" asp-action="Index">Sản phẩm <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Giới thiệu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Bài viết <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                @if (HttpContextAccessor.HttpContext.Session.GetString("customerName") != null)
                {
                    <p>
                        Xin chào, <b>@HttpContextAccessor.HttpContext.Session.GetString("customerName")</b>
                    </p>
                }
                else
                {
                    <p>
                        Xin chào, <b>Quý khách</b>
                    </p>
                }


                <div class="header_account">
                    <ul class="d-flex align-items-center">
                        <li class="header_shopping_cart ml-5">
                            <a asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>

                        <li>
                            <div class="user-menu-wrap" style="margin-right: 25px;">
                                <a class="mini-photo-wrapper" id="avatar_dropdown">
                                    <img class="avatar" style="position: relative; border-radius: 50%; width: 50px; height: 50px;"
                                         src="@(HttpContextAccessor.HttpContext.Session.GetString("customerAvatar") != null
                                    ? Url.Content("~/Uploads/accounts/" + HttpContextAccessor.HttpContext.Session.GetString("customerAvatar"))
                                    : Url.Content("~/images/defaultUser.png"))"
                                         alt="avatar" />
                                </a>

                                <div class="menu-container" id="form_dropdown">
                                    <ul class="user-menu">
                                        <div class="profile-highlight">
                                            <img class="avatar" style="position: relative; border-radius: 50%; width: 50px; height: 50px;"
                                                 src="@(HttpContextAccessor.HttpContext.Session.GetString("customerAvatar") != null
                                                    ? Url.Content("~/Uploads/accounts/" + HttpContextAccessor.HttpContext.Session.GetString("customerAvatar"))
                                                    : Url.Content("~/images/defaultUser.png"))"
                                                 alt="avatar" />
                                            <div class="details">
                                                <div id="profile-name">@(HttpContextAccessor.HttpContext.Session.GetString("customerName") != null ? HttpContextAccessor.HttpContext.Session.GetString("customerName") : "Khách")</div>
                                                <div id="profile-footer">@(HttpContextAccessor.HttpContext.Session.GetString("customerEmail") != null ? HttpContextAccessor.HttpContext.Session.GetString("customerEmail") : "Khách")</div>
                                            </div>
                                        </div>
                                            @if (HttpContextAccessor.HttpContext.Session.GetString("customerName") != null)
                                            {
                                                <li class="user-menu__item">
                                                <a class="user-menu-link" asp-area="" asp-controller="User" asp-action="Detail" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("customerID")">
                                                        <img src="~/icon/user.png" alt="trophy_icon" width="20"
                                                             height="20" />
                                                        <div>Thông tin cá nhân</div>
                                                    </a>
                                                </li>
                                                <li class="user-menu__item">
                                                <a class="user-menu-link" asp-area="" asp-controller="User" asp-action="ChangePass">
                                                        <img src="~/icon/changePass.png" alt="team_icon" width="20"
                                                             height="20" />
                                                        <div>Thay đổi mật khẩu</div>
                                                    </a>
                                                </li>
                                                <li class="user-menu__item">
                                                <a class="user-menu-link" asp-area="" asp-controller="User" asp-action="MyOrder">
                                                        <img src="~/icon/order.png" alt="team_icon" width="20"
                                                             height="20" />
                                                        <div>Theo dõi đơn hàng</div>
                                                    </a>
                                                </li>
                                            
                                                <li class="user-menu__item">
                                                    <a class="user-menu-link" asp-area="" asp-controller="User" asp-action="Logout"
                                                        style="color: #f44336">Đăng xuất</a>
                                                </li>
                                            }else{
                                                <li class="user-menu__item">
                                                    <a class="user-menu-link" asp-area="" asp-controller="User" asp-action="Login"
                                                       style="color: #f44336">Đăng nhập</a>
                                                </li>
                                            }
                                    </ul>
                                </div>
                             </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()


    <footer>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 newsletter_text">
                    <h3 class="text-uppercase">GIỮ KẾT NỐI</h3>
                    <span>Nhận thông tin cập nhật bằng cách đăng ký </span>
                    <p>bản tin hàng tuần của chúng tôi</p>
                </div>
                <div class="col-md-6 newsletter_subscribe">
                    <form>
                        <i class="fa fa-envelope"></i>
                        <input type="email" formControlName="email" placeholder="Vui lòng nhập email..." />
                        <button type="submit">
                            Nhận thông tin
                        </button>
                        <div class="line"></div>
                    </form>


                </div>
            </div>
        </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-5">
                    <div class="footer_widget_list">
                        <div class="footer_logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo.jpg" alt="anh" style="object-fit: cover" />
                            </a>
                        </div>
                        <div class="footer_contact_list">
                            <span>Vị trí của tôi</span>
                            <div style="margin-bottom: 10px"></div>
                            <a><i class="fa fa-location-arrow" aria-hidden="true"></i> 490 Trần Cung, Cầu Giấy, Hà Nội, Việt Nam</a>
                        </div>
                        <div class="footer_contact_list">
                            <span>Đường dây nóng 24/7</span>
                            <div style="margin-bottom: 10px"></div>
                            <a href="tel:0386564543">(+84)982467073</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="footer_widget_list">
                        <div class="footer_menu">
                            <ul class="d-flex justify-content-end">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index">Sản phẩm</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="About">Giới thiệu</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Blog" asp-action="Index">Bài viết</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer_social">
                            <div class="social-buttons d-flex justify-content-end">
                                <a href="https://www.facebook.com/profile.php?id=100047425502024" target="_blank"
                                   class="social-button social-button--facebook" aria-label="Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/tu%E1%BA%A5n-flute-166331275/" target="_blank"
                                   class="social-button social-button--linkedin" aria-label="LinkedIn">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://www.snapchat.com/tuanflute275" target="_blank"
                                   class="social-button social-button--snapchat" aria-label="Snapchat">
                                    <i class="fab fa-snapchat-ghost"></i>
                                </a>
                                <a href="https://github.com/tuanflute275" target="_blank" class="social-button social-button--github"
                                   aria-label="GitHub">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="https://codepen.io/tuanflute275" target="_blank"
                                   class="social-button social-button--codepen" aria-label="CodePen">
                                    <i class="fab fa-codepen"></i>
                                </a>
                            </div>
                        </div>
                        <div class="copyright_right d-flex justify-content-end mt-3">
                            <p>©Bản quyền <a href="https://tuanflute275.github.io/introduce/" target="_blank">tuanflute275</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")
</body>

</html>