@model X.PagedList.IPagedList<ShopApp.Data.OrderDetail>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Theo dõi chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
    var order = ViewBag.Order;
}
@section Styles {
    <style>
        .pagination .page-item .page-link {
            color: #79a206;
            border-color: #79a206;
        }

        .pagination .page-item.active .page-link {
            background-color: #79a206;
            border-color: #79a206;
            color: #fff;
        }

        .pagination .page-item .page-link:hover {
            background-color: #79a206;
            border-color: #79a206;
            color: #fff;
        }
    </style>
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Chi tiết đơn hàng #@order.OrderId</h2>
                            <span>Khách hàng: <span class="font-weight-bold">@order.OrderFullName</span></span></br>
                            <span>Địa chỉ: <span class="font-weight-bold">@order.OrderAddress</span></span></br>
                            <span>Số điện thoại: <span class="font-weight-bold">@order.OrderPhone</span></span></br>
                            <span>Tổng giá trị đơn hàng: <span class="font-weight-bold">@String.Format("{0:#,0} VND", order.OrderAmount)</span></span>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <div class="my-3">
                                <a class="btn mb-2 text-white" style="background: #79a206 !important;" asp-action="MyOrder" role="button">Quay lại</a>
                                <a class="btn mb-2 text-white" style="background: #79a206 !important;" asp-action="ExportOrder" asp-route-id="@order.OrderId" role="button">
                                    Tải xuống Excel
                                </a>
                            </div>
                            <table class="data-tables table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th width="15%;">Giá sản phẩm</th>
                                        <th width="8%;">Số lượng</th>
                                        <th width="15%;">Tổng tiền</th>
                                    </tr>
                                </thead>
                                @if (Model != null && Model.Any())
                                {
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center">@i</td>
                                                <td class="text-center">
                                                    <img src="@(Url.Content("~/Uploads/products/" + item.Product?.ProductImage))"
                                                         alt="@item.Product?.ProductImage" class="card-img" style="width: 100px;" />
                                                </td>
                                                <td class="text-center">@item.Product?.ProductName</td>
                                                <td class="text-center">@String.Format("{0:#,0} VND", item.Price)</td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-center">@String.Format("{0:#,0} VND", item.TotalMoney)</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                }else{
                                    <tbody>
                                        <tr>
                                            <td colspan="6" class="text-center text-danger">Không có dữ liệu</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("MyOrder", new { page = page }),
                                             new PagedListRenderOptions
                                    {
                                        LiElementClasses = new[] { "page-item" },
                                        PageClasses = new[] { "page-link" },
                                        UlElementClasses = new[] { "pagination" }
                                    })
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
