@model ShopApp.Data.Log

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Log</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLogout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLogout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeActionRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeActionRequest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
