@model ShopApp.Data.Log

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLogout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLogout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeActionRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeActionRequest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
